header {
  width: 100%;
  height: 120vh;
  background-image: url(../images/Backgraound-1-min.png);
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans;
  div.header {
    width: 100%;
    height: 10vh;
    background-color: rgba($color: #000000, $alpha: 0.7);
    div.container {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      div.right {
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        div.hamber {
          width: 10%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          img.hambergur {
            width: 70%;
          }
        }
        div.desktop-nav {
          width: 90%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          a {
            text-decoration: none;
            margin-right: 1.5em;
            padding: 0.5em 1em;
            color: #00e682;
            font-size: 14px;
          }
        }
      }
      div.left {
        width: 30%;
        height: 100%;
        img {
          width: 60%;
          height: 90%;
        }
      }
    }
  }
  div.nav {
    height: 10vh;
    display: flex;
    align-items: center;
    div.nav-a {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      margin-right: 7em;
      a {
        text-decoration: none;
        color: black;
        padding: 1em 0;
        position: relative;
      }
    }
  }
  section.main {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    div.right {
      width: 50%;
      height: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
      div.req-right {
        width: 50%;
        height: 90%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;
        margin-left: 2em;
        div.req-remake {
          width: 70%;
          height: 73%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          border: 5px solid #00e682;
          box-shadow: 0.5px 0.5px 0.5px 0.5px black;
          cursor: pointer;
          img {
            width: 60%;
          }
          a {
            text-decoration: none;
            color: black;
          }
          div.city-teh {
            width: 65%;
            height: 18%;
            border: 2px solid #00e682;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            display: none;
            a {
              width: 80%;
              text-decoration: none;
              color: white;
              font-size: 16px;
              font-weight: 700;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
          div.city-others {
            width: 65%;
            height: 18%;
            border: 2px solid #00e682;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 0.5em;
            display: none;

            a {
              width: 80%;
              text-decoration: none;
              color: white;
              font-size: 16px;
              font-weight: 700;
              display: flex;
            }
          }
        }
      }
      div.req-left {
        width: 50%;
        height: 90%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        div.req-design {
          width: 70%;
          height: 32%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          border: 5px solid #00e682;
          box-shadow: 0.5px 0.5px 0.5px 0.5px black;
          cursor: pointer;
          margin-bottom: 2em;
          img {
            width: 40%;
          }
          a {
            text-decoration: none;
            color: black;
          }
          div.city-teh-design {
            width: 65%;
            height: 40%;
            border: 2px solid #00e682;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            display: none;
            a {
              width: 80%;
              text-decoration: none;
              color: white;
              font-size: 16px;
              font-weight: 700;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
          div.city-others-design {
            width: 65%;
            height: 40%;
            border: 2px solid #00e682;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 0.5em;
            display: none;
            a {
              width: 80%;
              text-decoration: none;
              color: white;
              font-size: 16px;
              font-weight: 700;
              display: flex;
            }
          }
        }
        div.req-landscape {
          width: 70%;
          height: 32%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          border: 5px solid #00e682;
          box-shadow: 0.5px 0.5px 0.5px 0.5px black;
          cursor: pointer;
          div.city-teh-landscape {
            width: 65%;
            height: 40%;
            border: 2px solid #00e682;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            display: none;
            a {
              width: 80%;
              text-decoration: none;
              color: white;
              font-size: 16px;
              font-weight: 700;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
          div.city-others-landscape {
            width: 65%;
            height: 40%;
            border: 2px solid #00e682;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 0.5em;
            display: none;
            a {
              width: 80%;
              text-decoration: none;
              color: white;
              font-size: 16px;
              font-weight: 700;
              display: flex;
            }
          }
          img {
            width: 40%;
          }
          a {
            text-decoration: none;
            color: black;
          }
        }
      }
    }
    div.left {
      width: 50%;
      height: 90%;
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      div.square-out {
        width: 50%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1em solid #00e682;
        position: absolute;
        left: -1em;
        top: 1.2em;
      }
      h1 {
        font-size: 3.5em;
        font-weight: 900;
        color: white;
        font-family: sans-serif;
        text-shadow: 6px 5px 6px black;
      }
    }
  }
}
section.middle {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans;
  background-color: rgb(230, 255, 244);
  h1 {
    text-align: center;
    margin-top: 2em;
    font-weight: 900;
    margin-bottom: 0.5em;
  }
  h3 {
    text-align: center;
  }
  div.nav-middle {
    width: 60%;
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 2em;
    a {
      width: 15%;
      height: 100%;
      border: 2px solid black;
      text-decoration: none;
      color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 800;
    }
  }
}
section.slider-hand {
  width: 100%;
  height: 90vh;
  div.slider-before {
    width: 100%;
    height: 100%;
    background-image: url(../images/C_1-1.jpg);
    position: relative;
    div.slider-after {
      width: 20%;
      height: 100%;
      position: absolute;
      right: 0;
      bottom: 0;
      background-image: url(../images/C_2-1.jpg);
      overflow: hidden;
      border-left: 0.5em solid #00e682;
      transition: 1s ease;
      &:hover {
        width: 100%;
      }
    }
  }
}
section.remake {
  width: 100%;
  height: 160vh;
  background-color: rgb(230, 255, 244);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans;
  .sec-rem-up {
    width: 90%;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3em;
    .sec-rem-up-right {
      width: 35%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      p {
        width: 80%;
        margin-top: 0.75em;
        text-align: justify;
      }
    }
    .sec-rem-up-left {
      width: 65%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: relative;
      div.slide-right {
        width: 47%;
        height: 90%;
        background-color: white;
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        ul {
          margin: 0;
          li {
            text-align: right;
          }
        }
      }
      div.slide-left {
        width: 47%;
        height: 90%;
        background-color: white;
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        ul {
          margin: 0;
          li {
            text-align: right;
          }
        }
      }
    }
  }
  div.sec-rem-down {
    width: 90%;
    height: 100vh;
  }
}

.scaled {
  transform: scale(1.4);
  transition: 2000ms;
}
